*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

#canvas1{
    border: 5px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;

}

#health_heading{
    position: absolute;
    left: 22.5%;
    top: 11%;
    transform: translate(-50%, -50%);
    transform: scale(1.5, 1.5);
    max-width: 100%;
    max-height: 100%;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

#ammo_heading{
    position: absolute;
    left: 46%;
    top: 11%;
    transform: translate(-50%, 50%);
    transform: scale(1.5, 1.5);
    max-width: 100%;
    max-height: 100%;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

#key_heading{
    position: absolute;
    left: 72%;
    top: 11%;
    transform: translate(-50%, 50%);
    transform: scale(1.5, 1.5);
    max-width: 100%;
    max-height: 100%;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}
